.show-left-menu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: brown;
    position: absolute;
    top: 10px;
    margin: 0;
    z-index: 500;
    padding: 10px 15px;
    color:white;
}
.show-left-menu:hover{
    cursor: pointer;
}