.home-carousel{
    padding: 20px 0px;
    margin: 0;
    width: 100%;
}
.home-carousel .carousel-container {
    display: flex;
    padding: 10px;
    gap: 20px;
    width: 100%;
    color: white;
}
.home-carousel .carousel-container .carousel-card{
    width: 300px;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: wheat;
    border-radius: 10px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    text-align: left;
}
.home-carousel .carousel-container .carousel-card .card-logo img{
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background-color: white;
    padding:  5px;
}
.home-carousel .carousel-container .carousel-card .card-details .p1{
    padding: 8px 0;
    font-weight: bolder;
    font-size: 1.2rem;
}
.home-carousel .carousel-container .carousel-card .card-details .p2{
    padding: 8px 0;
    font-weight: bold;
    font-size: 1rem;
}
.home-carousel .carousel-container .carousel-card .card-bottom {
    padding: 8px 0;
}
.home-carousel .carousel-container .carousel-card .card-bottom i{
    font-weight: bolder;
}

/* MEDIA QUERIES */

/* Your styles for XS devices */
@media (max-width: 374.99px) {
    .home-carousel .lg,
    .home-carousel .md,
    .home-carousel .sm {
        display: none;
    }
}

/* Your styles for SM devices */
@media (min-width: 375px) and (max-width: 767.98px) {
    .home-carousel .lg,
    .home-carousel .md,
    .home-carousel .xs {
        display: none;
    }
}

/* Your styles for MD devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    .home-carousel .lg,
    .home-carousel .sm,
    .home-carousel .xs {
        display: none;
    }
}

/* Your styles for LG devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .home-carousel .md,
    .home-carousel .sm,
    .home-carousel .xs{
        display: none;
    }
}

/* Your styles for XL devices */
@media (min-width: 1200px) {
    .home-carousel .md,
    .home-carousel .sm,
    .home-carousel .xs {
        display: none;
    }
}