.employee-form {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 0;
  /* min-height: 100%; */
  /* height: fit-content; */
  /* width: 100%; */
  overflow-x: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.employee-form .employee-form-top,
.employee-form .steps {
  padding: 10px;
  /* width: 100%; */
}

.employee-form .employee-form-top {
  border-bottom: 2px solid grey;
  gap: 20px;
}

.heading {
  font-weight: bolder;
  font-size: 1.25rem;
}

.employee-form .steps {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee-form .steps .step {
  width: 4%;
  border-radius: 50%;
  border: 2px solid grey;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.35rem;
  color: grey;
}

.employee-form .length {
  width: 20%;
  border-bottom: 5px solid rgb(144, 142, 142, 0.2);
}

.employee-form .employee-form-bottom {
  padding: 10px 180px;
  /* border: 1px solid black; */
  margin: 10px 0;
}

.employee-form .employee-form-bottom .form1 {
  border: 1px solid black;
  padding: 30px 100px;
  border: 2px solid grey;
  font-size: medium;
  /* display: flex; */
  /* flex-direction: column; */
}

.employee-form .form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.employee-form .form-row {
  display: flex;
  margin-bottom: 15px;
}

.employee-form .form-row .input-error {
  width: 70%;
}

.employee-form .form-row .input-error .error {
  color: red;
  padding: 5px 0;
}

.employee-form .form-label {
  flex: 1;
  width: 20%;
  font-weight: bold;
  /* margin-right: 10px; */
}

.employee-form .form-input {
  flex: 2;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(94, 94, 94);
}

.employee-form .form-input[type="file"] {
  padding: 0px;
}

.employee-form .radio-group {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.employee-form .radio-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.employee-form .radio-group input[type="radio"] {
  margin-right: 5px;
}

.employee-form .form-button,
.step1-button,
.step2-button-prev,
.step2-button-next {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}

.employee-form .step-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ************************************ HOVER CSS ************************************ */

.employee-form .steps .step:hover {
  cursor: pointer;
}

.employee-form .form-button:hover,
.employee-form .step1-button:hover {
  background-color: #0056b3;
}

.emp-modal {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  font-size: large;
  color: black;
}

.emp-modal .emp-modal-section {
  padding: 20px;
  width: 30%;
  height: fit-content;
  background: var(--modal-section-bg);
  border-radius: var(--border-5px);
  overflow: hidden;
}

.em-top {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 15px 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid grey;
  font-weight: bold;
}

.em-bottom {
  display: flex;
}

.leftMargin-30{
  margin-left: 30px;
}

.leftBottom-30{
  margin-bottom: 30px;
}

.em-bottom .e-photo {
  padding: 5px;
  margin-right: 20px;
}

.em-bottom .e-photo img {
  width: 120px;
  height: 120px;
  padding: 0px;
  border-radius: 5px;
  background-color: grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.em-bottom .flex,
.flex .heading {
  width: 100%;
}

.em-bottom .heading {
  color: grey;
  font-weight: bold;
  text-decoration: underline;
}

.em-bottom .flex .e-detail {
  display: flex;
  align-items: center;
  font-size: medium;
}

.em-bottom .flex .e-detail :nth-child(1) {
  width: 25%;
  font-weight: bold;
}

.em-bottom .flex .e-detail :nth-child(2) {
  color: grey;
  width: 60%;
}

/* ******************************** HOVER CSS ******************************** */

.emp-modal .emp-modal-section .em-top :nth-child(2):hover {
  cursor: pointer;
}